html {
    position: relative;
    min-height: 100%;
}
/*Onderstaande zorgt ervoor dat de navigatiebalk geen content van de html body's verbergt!!!!*/
body {
    padding-top: 60px;
    margin-bottom: 200px;
    background: #ffffff;
    color: #333333;
    font-family: sans-serif;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
/*Zorg ervoor dat een kolom gecentreerd wordt*/
.center-block {
    float: none;
}

/*Zorgt ervoor dat elke thumbnail in de agenda maar drie regels beschrijving toont*/
.p-thumbnail-description {
    line-height: 1.2em;
    height: 7.2em;
    overflow: hidden;
}
.h3-thumbnail-header {
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
}
/*Footer styling*/
#pageFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: #212121;
    color: #9D9D9D;
}


/*zorgt ervoor dat Google Map getoond wordt icm bootstrap*/
